body {
  margin: 0px;
  height: 720px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #674bb0;
}

.nav-bar {
  display: flex;
  width: 100%;
  text-align: left;
  height: 250px;
}

.nav-bar img {
  width: 180px;
  padding-left: 55px;
}

.first-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  padding-left: 50px;
  column-gap: 40px;
}

#hero-image {
  width: 600px;
}

.second {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  justify-content: center;
  text-align: left;
  row-gap: 10px;
}

.first {
  display: flex;
  width: 50%;
  align-self: center;
  justify-content: center;
}

.width {
  color: white;
  width: 50%;
  line-height: 150%;
}

#width {
  color: white;
  width: 70%;
  line-height: 150%;
  margin-top: -10px;
}

button {
  padding: 15px 10px;
  border-radius: 10px;
  color: #674bb0;
  border: none white;
  width: 150px;
  box-shadow: black 2px 5px 15px;
}

button:hover {
  background-color: #e880e7;
  cursor: pointer;
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: px;
  color: white;
  padding-top: 100px;
  justify-content: space-evenly;
  align-items: center;
}

.section-icon {
  display: flex;
  width: 50px;
  align-items: center;
  gap: 20px;
}

.icons {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: white solid 1px;
}

.icons img {
  width: 20px;
  margin: 4px;
}

.icons:hover {
  background-color: #e880e7;
  cursor: pointer;
  color: white;
  border: #e880e7 solid 1px;
}

.footer-text {
  margin-left: -180px;
}

@media screen and (max-width: 1349px) {
  body {
    height: 700px;
  }

  .container {
    height: auto;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .first-section {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 70px;
    gap: 5px;
  }

  #hero-image {
    width: 400px;
  }
  .second {
    width: 80%;
  }
  .width {
    width: 100%;
    text-align: center;
    line-height: 150%;
  }

  button {
    padding: 15px 10px;
    border-radius: 10px;
    color: #674bb0;
    border: none white;
    align-self: center;
    text-align: center;
    margin-left: -15px;
    width: 150px;
    box-shadow: black 2px 5px 15px;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer-text {
    margin-left: 0px;
  }

  .section-icon {
    align-items: center;
    margin-left: -40px;
    gap: 20px;
  }
}
